---
import Layout from "../layouts/Layout.astro";

import About from "../components/About.astro";
import Code from "../components/icons/Code.astro";
import Book from "../components/icons/Book.astro";
import DevStack from "../components/icons/DevStack.astro";
import Experience from "../components/Experience.astro";
import Profile from "../components/icons/Profile.astro";
import Proyects from "../components/Proyects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import TitleSection from "../components/TitleSection.astro";
import Education from "../components/Education.astro";
import Stack from "../components/Stack.astro";
---

<Layout
  title="Porfolio de Matias Martinez - Desarrollador y Programador Web FronEnd BackEnd."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
        <slot />
      </Hero>
    </SectionContainer>

    <div class="space-y-28">

      <!-- <SectionContainer id="experiencia">
        <TitleSection>
          <Briefcase class="size-8" />
          Experiencia Laboral
        </TitleSection>
        <Experience />
      </SectionContainer> -->

      <SectionContainer id="proyectos">
        <TitleSection>
          <Code class="size-7" />
          Proyectos
        </TitleSection>
        <Proyects />
      </SectionContainer>

     <!--  <SectionContainer id="estudios">
        <TitleSection>
          <Book class="size-7" />
          Estudios
        </TitleSection>
        <Education />
      </SectionContainer> -->

      <SectionContainer id="skills">
        <TitleSection>
          <DevStack class="size-7" />
          Stack tecnologico
        </TitleSection>
        <Stack />
      </SectionContainer>


      <SectionContainer id="sobre-mi">
        <TitleSection>
          <Profile class="size-7" />
          Sobre mi
        </TitleSection>
        <About />
      </SectionContainer>
    </div>
  </main>
</Layout>
