<article
  class="flex flex-col items-center justify-center gap-8 text-gray-200 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-6 [&>p>strong]:text-blue-400 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor
      perspiciatis, quaerat optio et ex reiciendis, eius modi sunt doloremque
      neque omnis, tempore enim error necessitatibus. <strong>Quibusdam accusamus itaque
        rerum ad?</strong> 
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. <strong>Nulla minima
        nemo qui itaque voluptatum quaerat</strong>  hic similique perferendis tenetur enim,
      voluptas neque aliquam quas maiores nisi vero. Odit, consequuntur omnis!
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur, <strong>adipisicing elit</strong> . Praesentium id,
      ducimus tenetur,<em class="italic">laboriosam beatae</em> , aliquam soluta maiores quisquam
      explicabo dolorum illum quo repudiandae nobis dolor deserunt repellat
      omnis culpa dignissimos?
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/yo.webp"
    alt="imagen de Matias Martinez"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/40 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%;"
  />
</article>
