<article
  class="flex flex-col items-center justify-center gap-8 text-gray-200  md:flex-row"
>
  <div
    class="[&>p]:mb-6 [&>p>strong]:text-blue-600  text-pretty order-2 md:order-1"
  >
    <p>
      Soy Matias Martinez <strong> Desarrollador Web Full Stack en Argentina.</strong><br>
      Mi viaje en la programación comenzó a principios de 2022, cuando tras preguntarme cómo funcionaban las páginas web, descubrí un tutorial básico de HTML en YouTube. A partir de ahí, mi curiosidad creció, llevándome a explorar CSS y a darme cuenta de que quería sumergirme en el mundo del desarrollo web.
    </p>
    <p>        
      Decidí inscribirme en <strong> la carrera de Desarrollador Web Full Stack de CoderHouse</strong> , compuesta por cuatro cursos enfocados en proyectos prácticos, cada uno con su respectivo certificado. Los cursos incluyeron HTML y CSS, JavaScript, React JS y desarrollo BackEnd.
    </p>
    <p>
      Aunque aún no tengo experiencia laboral formal, estuve trabajado en varios proyectos personales que me han permitido mejorar mis habilidades y aplicar lo aprendido. Sigo en constante aprendizaje para mantenerme bien actualizado.
      Mi objetivo principal para este año es adentrarme en el rubro profesional y obtener mi primer empleo como desarrollador.      
    </p>
  </div>

  <img
    width="400"
    height="400"
    src="/yo3.webp"
    alt="imagen de Matias Martinez"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-72 aspect-square rounded-2xl bg-black/90 ring-1 ring-black/90 "
    style="object-position: 50% 50%;"
  />
</article>
