---
const EDUCATION = [
  {
    college: "CoderHouse",
    image: "/coderhouse.webp",
    degree: "Ingeniería de Sistemas",
    date: "Ene 2020 - Actualidad",
    description:
      "Actualmente cursando el 8° semestre de la carrera de Ingeniería de Sistemas en la Universidad de Córdoba. Enfocado en el desarrollo de software. Activo en la comunidad universitaria y participante en proyectos de investigación.",
  },
  {
    college: "CoderHouse",
    image: "/coderhouse.webp",
    degree: "Bootcamp desarrollador fullstack",
    date: "Ago 2023 - Jun 2024",
    description:
      "Bootcamp intensivo de desarrollo web fullstack. Adquirí conocimientos en tecnologías frontend y backend, así como habilidades de trabajo en equipo y resolución de problemas. Desarrollé proyectos reales y adquirí experiencia en el mundo laboral.",
  },
  {
    college: "CoderHouse",
    image: "/coderhouse.webp",
    degree: "Diplomado en Desarrollo Web",
    date: "Ene 2022 - Dec 2022",
    description:
      "Diplomado en Desarrollo Web con énfasis en tecnologías frontend y backend. Adquirí conocimientos en HTML, CSS, JavaScript, Python, Git y metodologías ágiles.",
  },
  {
    college: "CoderHouse",
    image: "/coderhouse.webp",
    degree: "Curso de Inglés",
    date: "Feb 2021 - Feb 2022",
    description:
      "Curso de inglés avanzado en la academia Evolve your English. Adquirí habilidades de comunicación y comprensión en el idioma, así como tambien conocimientos en gramática y vocabulario.",
  },
];

import EducationItem from "./EducationItem.astro";
---

<ol class="relative">
    {
      EDUCATION.map((education) => (
        <li class="">
          <EducationItem {...education} />
        </li>
      ))
    }
  </ol>