---
const currentYear = new Date().getFullYear()
---


<footer class="opacity-80 m-4 min-[357px]:pl-4 md:pl-0 mt-16 w-full mx-auto container lg-max-w-4xl md:max-w-2xl mb-2 flex ">
  <div
    class="rounded-lg w-full mx-auto max-w-screen-xl py-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-zinc-300/90 "
      >© {currentYear} -
      <a href="https://www.linkedin.com/in/matias-martinez-02a3b0238/" class="hover:underline"
        >Matias Martinez</a>. 
    </span>
    <span class="text-sm sm:text-center text-zinc-300/90 ">Inspirado en el porfolio de <a href="https://www.linkedin.com/in/midudev/">Midudev.</a></span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-zinc-300/90 sm:mt-0"
    >
      <li>
        <a href="/#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mi</a>
      </li>
      <li>
        <a id="contacto" href="mailto:matimartinezz.927@gmail.com" class="hover:underline">Contacto</a>
      </li>
      
    </ul>
  </div>
</footer>
