---
import NesxJs from "./icons/NesxJs.astro";
import Tailwind from "./icons/Tailwind.astro";
import React from "./icons/React.astro";
import Firebase from "./icons/Firebase.astro";


const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NesxJs,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT:{
    name:"React",
    class:"bg-[#0579c1] text-white",
    icon: React
  },
  FIREBASE:{
    name:"Firebase",
    class:"bg-[#e37902] text-white",
    icon: Firebase
  }
};

const SKILLS = {
    skills: [TAGS.FIREBASE, TAGS.TAILWIND],
}
---
<!-- <div>
    {
        SKILLS.map(({ }) =>(
        <div class="flex flex-wrap mt-2">
        <ul class="flex flex-row mb-2 gap-x-2">
            {skills.map(() => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${skills.class} py-1 px-2 `}
                >
                  <skills.icon class="size-4" />
                  {skills.name}
                </span>
              </li>
            ))}
          </ul>
    </div>
        ))
    },
</div> -->


