---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/onest";
interface Props {
  title: string;
}
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Porfolio de Matias Martienez - Programador Desarrollador Web</title>
  </head>
  <body>
  
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1900' height='3500' preserveAspectRatio='none' viewBox='0 0 1900 3500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1063%26quot%3b)' fill='none'%3e%3crect width='1900' height='3500' x='0' y='0' fill='rgba(23%2c 52%2c 69%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c747.657C159.741%2c756.076%2c329.071%2c807.048%2c469.88%2c731.147C613.409%2c653.78%2c676.539%2c488.035%2c750.871%2c342.911C828.49%2c191.37%2c951.704%2c34.394%2c911.499%2c-131.054C871.338%2c-296.32%2c686.855%2c-374.929%2c551.428%2c-477.815C441.937%2c-560.997%2c327.525%2c-627.999%2c197.708%2c-673.332C61.682%2c-720.833%2c-75.837%2c-759.971%2c-219.33%2c-746.968C-385.407%2c-731.918%2c-554.609%2c-697.594%2c-684.777%2c-593.362C-827.892%2c-478.763%2c-939.682%2c-319.991%2c-976.781%2c-140.44C-1014.932%2c44.204%2c-994.561%2c249.252%2c-891.498%2c407.134C-792.93%2c558.131%2c-607.544%2c618.899%2c-439.093%2c683.242C-298.043%2c737.118%2c-150.78%2c739.711%2c0%2c747.657' fill='%23122a37'%3e%3c/path%3e%3cpath d='M1900 4298.561C2063.57 4315.845 2246.767 4343.478 2380.816 4248.164 2514.139 4153.366 2508.375 3957.442 2583.861 3812.309 2664.828 3656.637 2861.906 3538.94 2840.258 3364.811 2818.668 3191.148 2618.702 3105.07 2482.305 2995.43 2368.51 2903.959 2248.125 2831.049 2111.662 2779.145 1964.797 2723.285 1811.56 2641.166 1660.01 2682.669 1507.908 2724.323 1426.107 2880.8289999999997 1318.702 2996.303 1206.9560000000001 3116.445 1048.9560000000001 3212.069 1017.772 3373.155 986.297 3535.744 1070.877 3697.628 1155.3609999999999 3840.065 1233.6660000000002 3972.084 1349.6280000000002 4072.536 1480.333 4153.015 1609.019 4232.251 1749.713 4282.6810000000005 1900 4298.561' fill='%231c3e53'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1063'%3e%3crect width='1900' height='3500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
